spring.application.name=node
server.port=${NODE_PORT}

spring.rabbitmq.port=${RABBIT_PORT}
spring.rabbitmq.host=${RABBIT_HOST}
spring.rabbitmq.username=${RABBIT_USERNAME}
spring.rabbitmq.password=${RABBIT_PASSWORD}

spring.jpa.hibernate.ddl-auto=create
spring.datasource.url=${DB_URL}
spring.datasource.username=${MYSQL_USER}
spring.datasource.password=${MYSQL_PASSWORD}
spring.datasource.driver-class-name=${DB_DRIVER}
spring.jpa.show-sql=${DB_SHOW_SQL}
spring.jpa.database-platform=${DB_DIALECT}

bot.token=${TG_BOT_TOKEN}
service.file.info.uri=${TG_BOT_FILE_INFO_URI}
service.file_storage.uri=${TG_BOT_FILE_STORAGE_URI}

link.address=${LINK_ADDRESS}
salt=${SALT}